@mixin desk() {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin content() {
  width: 100%;
  max-width: 907px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

@mixin mobile-content() {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}
