.basic-button {
  width: 180px;
  height: 48px;
  border-radius: 6px;
  background-color: $basic_color;
  border: 2px solid$basic_color;
  box-shadow: 5px 6px 22px #cc3d003d;
  color: #fff;
  text-align: center;
  transition: 0.3s background-color;
  font-weight: $bold;

  &:active {
    opacity: .7;
  }

  @include hover {
    &:hover,
    &:focus {
      background-color: #fff;
      color: $basic_color;
    }
  }
}
