.header-page {
  background-color: transparent;
  background-image: linear-gradient($logo_color, $logo_color);
  background-repeat: no-repeat;
  background-size: 100% calc(100% - 24px);
  border-radius: 10px 10px 0 0;

  @include mobile {
    background-color: $logo_color;
    height: 200px;
  }
}

.header-page__wrap {
  display: flex;
  align-items: end;
  padding-top: 45px;

  @include content;

  @include mobile {
    background-color: $logo_color;
    height: 200px;
    padding-top: 20px;

    @include mobile-content;
  }
}

.header-page__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 7px 7px 23px 0 #ffffff38;

  @include mobile {
    width: 60px;
    height: 60px;
    border-radius: 4px;
  }
}
